In [52]:
# list of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [53]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School":"Griffin","Type":"District"},
                    {"High School":"Figueroa","Type":"District"},
                    {"High School":"Wilson","Type":"Charter"},
                    {"High School":"Wright","Type":"Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [54]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [55]:
# Add the Pandas dependency.
import pandas as pd

In [56]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
#Add the Pandas Dependency
import pandas as pd
# Create a Pandas series from a list.
school_series=pd.Series(high_schools)
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [57]:
import pandas as pd
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.dataframe(high_school_dicts)
school_df

AttributeError: module 'pandas' has no attribute 'dataframe'

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id =[0,1,2,3,4]

school_name =["Huang High School","Figuera High School","Shelton High School","Hernandez High School", "Griffin High School"]

type_of_school = ["District","District","Charter","District","Charter"]

#inialize a new DataFrame.
schools_df=pd.DataFrame()

#Add the list to a new dataframe.
schools_df["School ID"]=school_id
schools_df["School Name"]=school_name
schools_df["Type of School"]=type_of_school

#print the dataframe
school_df

In [ ]:
import pandas as pd



# Create a dictionary of information on high schools.
high_schools_dict={'School ID':school_id,'School Name':school_name,'Type of School':type_of_school}

# Convert the high_schools_dict dictionary to a dataframe
high_schools_df = pd.DataFrame.from_dict(high_schools_dict)


high_schools_df

In [ ]:
school_id=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name=["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
school_type=["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

schools_df=pd.DataFrame()

schools_df["School ID"]=school_id
schools_df["School Name"]=school_name
schools_df["Type of School"]=school_type

schools_df

In [60]:
import pandas as pd
import os

student_data=os.path.join('Resources','new_student_data.csv')
student_df =pd.read_csv(student_data)

student_df["student_name"]

0            Sarah Douglas
1        Francisco Osborne
2                Ryan Haas
3             Kathryn Mack
4          Harold Reynolds
               ...
13935          Kelly Myers
13936       Kimberly Burke
13937      Crystal Merritt
13938        Misty Wiggins
13939        Michele Jones
Name: student_name, Length: 13940, dtype: object